<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置注解扫描包-->
    <context:component-scan base-package="com.zws.server.test"/>

    <!--配置资源文件-->
    <context:property-placeholder location="classpath:rpc.properties"/>

    <!--配置ZK注册中心-->
    <bean id="serviceRegister" class="com.zws.register.zookeeper.ZkServiceRegister">
        <constructor-arg name="zkAddress" value="${rpc.register.address}"/>
    </bean>

    <!--配置RPC服务-->
    <bean id="rpcServer" class="com.zws.server.ZRpcServer">
        <constructor-arg name="serviceAddress" value="${rpc.service.address}"/>
        <constructor-arg name="serviceRegister" ref="serviceRegister"/>
    </bean>

</beans>
